<!DOCTYPE html>
<html>
<head>
	<title>
		Cylc Workflow Index Page
	</title>
	<script src="https://code.jquery.com/jquery-2.2.3.js"
      integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="                crossorigin="anonymous">
</script> <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var socket = io('http://127.0.0.1:5000');
  socket.on('connect', function(){});
  socket.on('disconnect');
var hostName="";
var portNumber="";
function getData()
{
hostName=$('#hostName').val();
portNumber=$('#portNumber').val();
setInterval(function(){ socket.emit('data',{'hostName':hostName,'portNumber':portNumber});

 }, 100);
}
buffer="";
socket.on('summary_info',function(data){
	console.log(data[0]["state totals"]);
	var nodes=data[1];
	var getAllKeys = Object.keys(nodes);
	var getSingleKey= Object.keys(nodes)[0];
	//console.log(data[getAllKeys[5]]);
var stateTotals=data[0]["state totals"];

//guaranteed by our suite
//TODO:just create these d3 objs dynamically
	d3.select("body").select("#nodeOne").text(nodes[getAllKeys[0]]["name"] +" "+nodes[getAllKeys[0]]["state"]+ " "+nodes[getAllKeys[0]]["label"]);
  d3.select("body").select("#nodeTwo").text(nodes[getAllKeys[1]]["name"]+" "+nodes[getAllKeys[1]]["state"]+ " "+nodes[getAllKeys[1]]["label"]);
	d3.select("body").select("#nodeThree").text(nodes[getAllKeys[2]]["name"]+" "+nodes[getAllKeys[2]]["state"]+ " "+nodes[getAllKeys[2]]["label"]);
	d3.select("body").select("#nodeFour").text(nodes[getAllKeys[3]]["name"] +" "+nodes[getAllKeys[3]]["state"]+ " "+nodes[getAllKeys[3]]["lable"]);
	d3.select("body").select("#nodeFive").text("state totals:" +stateTotals);
   d3.select("body").select("#nodeSix").text(getAllKeys);
});
    </script>
</head>
<body>
	<svg width="50" height="50">
 <circle cx="25" cy="25" r="25" fill="purple" />
</svg>
    <div>

        <!-- Getting the form data and sending it to Flask -->
        <form>
            <input id="hostName" type="text" name="hostName" />
            <input id="portNumber" type="text" name="portNumber"/>
            <input type="button" name="index" value="Send" onClick="getData()">
        </form>
    </div>
		<p id="nodeOne"></p>
    <p id ="nodeTwo"></p>
		<p id ="nodeThree"></p>
		<p id="nodeFour"></p>
    <p id ="nodeFive"></p>
		<p id ="nodeSix"></p>
    <ul>
    </ul>

</body>
</html>
